{{ block "new-lead-form" . }}
<div id="new-lead-form" class="task mx-4 my-3 items-center bg-blue-500 p-4 rounded-2xl text-lg text-white">
	<div>
		<input class="w-full text-black pl-4" name="phone" type="tel" value="+77" />
	</div>
	<div class="mt-2">
		<button hx-post="/leads" hx-include="#new-lead-form" hx-target="#new-lead-form" hx-swap="outerHTML"
			class="p-1 bg-green-600 text-white text-md">сақтау</button>
	</div>
</div>
{{ end }}

{{ block "lead-cell-new" . }}
<div {{ if ne .Page 0 }} hx-get="/leads/new?page={{ .Page }}" hx-trigger="intersect once" hx-swap="afterend" {{ end }}
	id="lead-cell-{{ .Id }}"
	class="new-lead-cell lead-cell pl-6 task mx-4 my-3 bg-blue-500 p-4 rounded-2xl text-lg text-white"
	phone="{{ .Phone }}">
	<div>{{ .Phone }}</div>
	<div class="flex mt-1 mb-1">
		<select class="bg-white text-sm text-black rounded-sm mr-1" name="user_id" required>
			<option class="hidden" disabled selected value></option>
			{{ range .Users }}
			<option class="text-center text-sm" value="{{ .Id }}">
				{{ .Name }}
			</option>
			{{ end }}
		</select>
		<button hx-put="/leads/{{ .Id }}/assign" hx-include="closest div" hx-swap="afterbegin" hx-target="#assigned"
			class="p-1 bg-green-600 text-white text-sm">сақтау</button>
	</div>
</div>
<script>
	document.addEventListener("lead-cell-{{ .Id }}", () => {
		const toRemove = document.getElementById("lead-cell-{{ .Id }}")
		toRemove.remove();
	});
</script>
{{ end }}

{{ block "lead-cells-new" . }}
{{ range . }}
{{ template "lead-cell-new" . }}
{{ end }}
{{ end }}

{{ block "lead-cell-assigned" . }}
<div {{ if ne .Page 0 }} hx-get="/leads/assigned?page={{ .Page }}" hx-trigger="intersect once" hx-swap="afterend" {{ end }}
	id="lead-cell-{{ .Id }}"
	class="lead-cell assigned-lead-cell task flex mx-4 my-3 bg-blue-500 p-4 rounded-2xl text-lg text-white"
	phone="{{ .Phone }}">
	<div class="ml-2">
		<div>{{ .Phone }}</div>
		<div class="mt-1 font-bold">{{ .UserName }}</div>
	</div>
	<div class="ml-auto mt-[13px] mr-2">
		<button onclick="openLeadModal({{ .Id }})"
			class="p-1 px-3 rounded-lg bg-green-600 text-white text-lg">сату</button>
	</div>
</div>
{{ end }}

{{ block "lead-cells-assigned" . }}
{{ range . }}
{{ template "lead-cell-assigned" . }}
{{ end }}
{{ end }}

{{ block "lead-cell-in-delivery" . }}
<div {{ if ne .Page 0 }} hx-get="/leads/indelivery?page={{ .Page }}" hx-trigger="intersect once" hx-swap="afterend" {{ end }}
	id="lead-cell-{{ .Id }}" lead-id="{{ .Id }}"
	class="task lead-cell indelivery-lead-cell mx-4 my-3 bg-orange-500 py-6 px-8 rounded-2xl text-lg text-white"
	draggable="true" ondragstart="drag(event)" phone="{{ .Phone }}">
	<div class="flex font-light w-full">
		<div class="mr-auto">Аты:</div>
		<button class="ml-auto mr-3 font-bold bg-blue-500 text-center rounded-full w-8 h-8 text-white relative group">
			!
			<span
				class="absolute top-[-1.75rem] left-1/2 transform -translate-x-1/2 scale-0 group-hover:scale-100 bg-gray-100 text-gray-800 px-2 py-1 rounded border border-gray-700 opacity-0 group-hover:opacity-100 transition-all duration-300 inline-block">
				{{ range .Items }}
				<p class="w-full whitespace-nowrap">
					{{ .Quantity }} {{ .ProductName }}
				</p>
				{{ end }}
			</span>
		</button>
	</div>
	<div class="font-bold">{{ .Name }}</div>
	<div class="font-light mt-3">Мекенжай:</div>
	<div class="font-bold">{{ .Address }}</div>
	<div class="font-light mt-3">Номер:</div>
	<div class="font-bold">{{ .Phone }}</div>
	<div class="font-light mt-3">Кеңесші маман:</div>
	<div class="font-bold">{{ .UserName }}</div>
	<div class="font-light mt-3">Құны:</div>
	<div class="font-bold">{{ .FullPrice }}</div>
	<div class="font-light mt-3">Жеткізу түрі:</div>
	<div class="font-bold">{{ .DeliveryTypeName }}</div>
	<div class="font-light mt-3">Төлем уақыты:</div>
	<div class="font-bold">{{ .PaymentAtFormatted }}</div>
</div>
{{ end }}

{{ block "lead-cells-in-delivery" . }}
{{ range . }}
{{ template "lead-cell-in-delivery" . }}
{{ end }}
{{ end }}

{{ block "lead-cell-completed" . }}
<div {{ if ne .Page 0 }} hx-get="/leads/completed?page={{ .Page }}" hx-trigger="intersect once" hx-swap="afterend" {{ end }}
	lead-id="{{ .Id }}" phone="{{ .Phone }}"
	class="completed-lead-cell task mx-4 my-3 bg-green-500 py-6 px-8 rounded-2xl text-lg text-white">
	<div class="flex font-light w-full">
		<div class="mr-auto">Аты:</div>
		<button class="ml-auto mr-3 font-bold bg-blue-500 text-center rounded-full w-8 h-8 text-white relative group">
			!
			<span
				class="absolute top-[-1.75rem] left-1/2 transform -translate-x-1/2 scale-0 group-hover:scale-100 bg-gray-100 text-gray-800 px-2 py-1 rounded border border-gray-700 opacity-0 group-hover:opacity-100 transition-all duration-300 inline-block">
				{{ range .Items }}
				<p class="w-full whitespace-nowrap">
					{{ .Quantity }} {{ .ProductName }}
				</p>
				{{ end }}
			</span>
		</button>
	</div>
	<div class="font-bold">{{ .Name }}</div>
	<div class="font-light mt-3">Мекенжай:</div>
	<div class="font-bold">{{ .Address }}</div>
	<div class="font-light mt-3">Номер:</div>
	<div class="font-bold">{{ .Phone }}</div>
	<div class="font-light mt-3">Кеңесші маман:</div>
	<div class="font-bold">{{ .UserName }}</div>
	<div class="font-light mt-3">Құны:</div>
	<div class="font-bold">{{ .FullPrice }}</div>
	<div class="font-light mt-3">Жеткізу түрі:</div>
	<div class="font-bold">{{ .DeliveryTypeName }}</div>
	<div class="font-light mt-3">Төлем уақыты:</div>
	<div class="font-bold">{{ .PaymentAtFormatted }}</div>
</div>
{{ end }}

{{ block "lead-cells-completed" . }}
{{ range . }}
{{ template "lead-cell-completed" . }}
{{ end }}
{{ end }}

{{ block "leads-product" . }}
<div class="flex mt-2">
	<select price="{{ .Price }}" class="p-1 rounded-sm" disabled>
		<option value="{{ .Id }}">{{ .Name }}</option>
	</select>
	<input class="ml-2 w-16 p-1 rounded-sm" type="number" value="1" onchange="calcSaleSum()" />
	<button hx-get="/empty" hx-swap="outerHTML" hx-target="closest div" class="ml-2 rounded-sm">
		&#10060
	</button>
</div>
{{ end }}
