{{ block "leads-content" . }}
{{ $users := .Users }}
<div class="p-4">
	<section class="flex justify-around">
		{{if or (eq .Role "админ") (eq .Role "роп")}}
		<h4 class="items-center text-lg flex w-full text-center font-semibold text-blue-400" id="new-header">
			<span class="w-36"></span>
			<div id="new-leads-header" class="items-center text-lg flex text-center font-semibold text-blue-400">
				Жаңа
			</div>
			<button hx-get="/leads/newform" hx-swap="afterbegin" hx-target="#new"
				class="ml-2 rounded-lg p-1 bg-blue-400 text-white text-sm">қосу</button>
		</h4>
		{{ end }}
		<h4 class="text-lg w-full text-center font-semibold text-yellow-400" id="assigned-header">Тағайындалды</h4>
		<h4 class="text-lg w-full text-center font-semibold text-orange-400" id="in-progress-header">Жеткізілуде</h4>
		<h4 class="text-lg w-full text-center font-semibold text-green-400" id="ready-header">Дайын</h4>
	</section>
	<section class="flex h-full">
		{{ $new_lead_classes := "" }}
		{{if or (eq .Role "админ") (eq .Role "роп")}}
		{{ $new_lead_classes = " w-1/4 " }}
		{{ else }}
		{{ $new_lead_classes = " w-96 ml-24 " }}
		{{ end }}
		{{ if or (eq .Role "админ") (eq .Role "роп") }}
		<section
			class="{{ $new_lead_classes }} overflow-auto bg-blue-100 h-[84lvh] mx-4 my-4 border border-[#4A5568] rounded-2xl">
			<div class="flex w-full mt-2 pl-6">
				<img class="mr-1" src="/assets/icons/search.svg" width="20" height="20" />
				<input class="px-2 rounded-lg text-lg form-control" type="search" name="search" hx-get="/leads/new"
					hx-trigger="input changed delay:300ms, keyup[key=='Enter'], load" hx-target="#new" />
			</div>
			<div id="new">
				{{ range .New }}
				<div id="lead-cell-{{ .Id }}" phone="{{ .Phone }}" {{ if ne .Page 0 }}
					hx-get="/leads/new?page={{ .Page }}" hx-trigger="intersect once" hx-swap="afterend" {{ end }}
					class="lead-cell new-lead-cell pl-6 task mx-4 my-3 bg-blue-500 p-4 rounded-2xl text-lg text-white">
					<div>{{ .Phone }}</div>
					<div class="flex mt-1 mb-1">
						<select class="bg-white text-black rounded-sm mr-2" name="user_id" required>
							<option class="hidden" disabled selected value></option>
							{{ range $users }}
							<option class="text-center text-sm" value="{{ .Id }}">
								{{ .Name }}
							</option>
							{{ end }}
						</select>
						<button hx-put="/leads/{{ .Id }}/assign" hx-include="closest div" hx-swap="afterbegin"
							hx-target="#assigned" class="p-1 bg-green-600 text-white text-sm">сақтау</button>
					</div>
				</div>
				{{ end }}
			</div>
		</section>
		{{ end }}
		{{ $assigned_lead_classes := "" }}
		{{if or (eq .Role "админ") (eq .Role "роп")}}
		{{ $assigned_lead_classes = " w-1/4 " }}
		{{ else }}
		{{ $assigned_lead_classes = " w-96 ml-20 " }}
		{{ end }}
		<section
			class="{{ $assigned_lead_classes }} overflow-auto bg-blue-100 h-[84lvh] mx-4 my-4 border border-[#4A5568] rounded-2xl">
			<div class="flex w-full mt-2 pl-6">
				<img class="mr-1" src="/assets/icons/search.svg" width="20" height="20" />
				<input class="px-2 rounded-lg text-lg form-control" type="search" name="search" hx-get="/leads/assigned"
					hx-trigger="input changed delay:300ms, keyup[key=='Enter'], load" hx-target="#assigned" />
			</div>
			<div id="assigned">
				{{ range .Assigned }}
				{{ template "lead-cell-assigned" . }}
				{{ end }}
			</div>
		</section>
		{{ $indelivery_lead_classes := "" }}
		{{if or (eq .Role "админ") (eq .Role "роп")}}
		{{ $indelivery_lead_classes = " w-1/4 " }}
		{{ else }}
		{{ $indelivery_lead_classes = " w-96 ml-32 " }}
		{{ end }}
		<section
			class="{{ $indelivery_lead_classes }} overflow-auto bg-blue-100 h-[84lvh] mx-4 my-4 border border-[#4A5568] rounded-2xl">
			<div class="flex w-full mt-2 pl-6">
				<img class="mr-1" src="/assets/icons/search.svg" width="20" height="20" />
				<input class="px-2 rounded-lg text-lg form-control" type="search" name="search" hx-get="/leads/indelivery"
					hx-trigger="input changed delay:300ms, keyup[key=='Enter'], load" hx-target="#in-progress" />
			</div>
			<div id="in-progress">
				{{ range .InDelivery }}
				{{ template "lead-cell-in-delivery" . }}
				{{ end }}
			</div>
		</section>
		{{ $completed_lead_classes := "" }}
		{{if or (eq .Role "админ") (eq .Role "роп")}}
		{{ $completed_lead_classes = " w-1/4 " }}
		{{ else }}
		{{ $completed_lead_classes = " w-96 ml-32 " }}
		{{ end }}
		<section
			class="{{ $completed_lead_classes }} overflow-auto bg-blue-100 h-[84lvh] mx-4 my-4 border border-[#4A5568] rounded-2xl"
			ondrop="drop(event)" ondragover="allowdrop(event)">
			<div class="flex w-full mt-2 pl-6">
				<img class="mr-1" src="/assets/icons/search.svg" width="20" height="20" />
				<input class="px-2 rounded-lg text-lg form-control" type="search" name="search" hx-get="/leads/completed"
					hx-trigger="input changed delay:300ms, keyup[key=='Enter'], load" hx-target="#ready" />
			</div>
			<div id="ready">
				{{ range .Completed }}
				{{ template "lead-cell-completed" . }}
				{{ end }}
			</div>
		</section>
	</section>
	<span id="lead-cell-errors"></span>
</div>
<script>
	let newLeadsCount = {{ .NewLeadsCount}}
</script>
{{ end }}
