{{ block "navbar" . }}
<div class="py-4 pl-4 pr-8 flex">
	<h1 class="whitespace-nowrap font-medium text-2xl mr-auto mt-0.5">{{ .BarsData.PageName }}</h1>
	<form hx-post="/logout">
		<button type="submit" class="bg-gray-300 rounded-lg px-2 py-1 mt-1.5">Шығу</button>
	</form>
	<div class="ml-2 pt-0.5">
		<div>{{ .User.Name }}</div>
		<div class="text-xs font-thin pl-1">{{ .User.Role }}</div>
	</div>
</div>
{{ end }}

{{ block "sidebar" . }}
<div class="p-4 pt-6">
	{{ $page := .Page }}
	{{ range .Pages }}
	<div class="p-1.5 mb-4 {{ if eq . $page }} bg-gray-300 {{ end }} rounded-lg hover:bg-gray-300">
		<a class="whitespace-nowrap text-base antialiased" href="{{ . }}">
			<img src="/assets/icons/{{ . }}.svg" width="35" height="35" />
		</a>
	</div>
	{{ end }}
</div>
{{ end }}
