{{ block "table" . }}
<div class="relative shadow-md sm:rounded-lg mb-4">
	<table class="w-full text-sm text-left rtl:text-right bg-gray-100">
		<thead class="text-xs uppercase">
			<tr>
				{{ range .Columns }}
				<th scope="col" class="px-6 py-3">
					{{ . }}
				</th>
				{{ end }}
			</tr>
		</thead>
		<tbody>
			{{ range .Rows }}
			<tr class="border hover:bg-gray-200">
				{{ range .Cells }}
				<td scope="row" class="px-6 py-4 font-medium whitespace-nowrap">
					{{ . }}
				</td>
				{{ end }}
			</tr>
			{{ end }}
		</tbody>
	</table>
	<div class="text-red-600 {{ if eq .Error ""}} hidden {{ end }}">
		{{ .Error }}
	</div>
</div>
{{ end }}
